.block-INJ {
  //margin: 105px 0 0 170px;
  margin-top: 105px;
  position: relative;
  max-width: 43.7%;
  text-align: center;
}

.block-INJ_text {
  display: block;
}

.block-INJ_name {
  margin-top: 34px;
  font-size: 57px;
  font-family: MyriadPro-Regular, sans-serif;
}

.block-INJ_surname {
  margin-top: -21px;
  font-size: 63px;
  font-family: MyriadPro-Bold, sans-serif;
}

.block-INJ_prof {
  font-size: 24px;
  font-family: MyriadPro-bold, sans-serif;
}