div.block-INJ
    include circle-icon/circle-icon
    +circle-icon(206)

    span.block-INJ_text.block-INJ_name NAME HERE
    span.block-INJ_text.block-INJ_surname SURNAME
    span.block-INJ_text.block-INJ_prof GRAPHIC DESIGNER